<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tieshan.disintegrate.dao.CarInfoMapper">

    <resultMap type="com.tieshan.disintegrate.pojo.CarInfo" id="carInfoMap">
        <result property="id" column="id"/>  <!--  -->
        <result property="disintegratePlantId" column="disintegrate_plant_id"/>  <!-- 解体厂id -->
        <result property="carSource" column="car_source"/>  <!-- 车源主键id -->
        <result property="contacts" column="contacts"/>  <!-- 车辆联系人 -->
        <result property="contactsPhone" column="contacts_phone"/>  <!-- 手机号 -->
        <result property="carNo" column="car_no"/>  <!-- 车牌号 -->
        <result property="processingType" column="processing_type"/>  <!-- 车辆回收方式（来自字典表) -->
        <result property="processingDate" column="processing_date"/>  <!-- 处理日期 -->
        <result property="proceduresType" column="procedures_type"/>  <!-- 手续获取方式 -->
        <result property="remarks" column="remarks"/>  <!-- 备注 -->
        <result property="createTime" column="create_time"/>  <!--  -->
        <result property="operatorId" column="operator_id"/>  <!-- 操作人id -->
        <result property="operator" column="operator"/>  <!-- 操作人 -->
        <result property="carName" column="car_name"/>  <!-- 车型 -->
        <result property="isDelete" column="is_delete"/>  <!-- 是否删除。1.删除，2,正常 -->
    </resultMap>
    <resultMap type="com.tieshan.disintegrate.vo.CarCustomerInfoVo" id="carInfoVoMap">
        <result property="carInfoId" column="car_info_id"/>  <!--  -->
        <result property="carCode" column="car_code"/>  <!-- 车辆编号 -->
        <result property="carNo" column="car_no"/>  <!-- 车牌号 -->
        <result property="ascription" column="ascription"/>  <!-- 车辆归属 -->
        <result property="cardColor" column="card_color"/>  <!-- 车牌颜色 -->
        <result property="owner" column="owner"/>  <!-- 车主姓名（或组织机构名称） -->
        <result property="phone" column="phone"/>  <!-- 车主电话 -->
        <result property="idCard" column="id_card"/>  <!-- 车主身份证号（组织结构代码） -->
        <result property="ownerZipcode" column="owner_zipcode"/>  <!-- 车主邮编 -->
        <result property="ownerAddress" column="owner_address"/>  <!-- 车主地址 -->
        <result property="agend" column="agend"/>  <!-- 代理人 -->
        <result property="agendIdcard" column="agend_idcard"/>  <!-- 代理人身份证号 -->
        <result property="contacts" column="contacts"/>  <!-- 交车人姓名 -->
        <result property="contactsPhone" column="contacts_phone"/>  <!-- 交车人电话 -->
        <result property="contactsAddress" column="contacts_address"/>  <!-- 交车人地址 -->
        <result property="drivLicense" column="driv_license"/>  <!-- 行驶本。1.没有，2.有 -->
        <result property="registLicense" column="regist_license"/>  <!-- 登记证。1.没有，2.有 -->
        <result property="carName" column="car_name"/>  <!-- 车型 -->
        <result property="carWeight" column="car_weight"/>  <!-- 整车质量 -->
        <result property="carKind" column="car_kind"/>  <!-- 车辆性质 -->
        <result property="fuelType" column="fuel_type"/>  <!-- 燃油性质 -->
        <result property="regTime" column="reg_time"/>  <!-- 注册时间 -->
        <result property="issueTime" column="issue_time"/>  <!-- 发证日期 -->
        <result property="natureUsege" column="nature_usege"/>  <!-- 使用性质 -->
        <result property="carProperties" column="car_properties"/>  <!-- 车辆类型 -->
        <result property="vin" column="vin"/>  <!-- vin -->
        <result property="engine" column="engine"/>  <!-- 发动机号码 -->
        <result property="issueSize" column="issue_size"/>  <!-- 外廓尺寸 -->
        <result property="displacement" column="displacement"/>  <!-- 汽车排量 -->
        <result property="carryingCapacity" column="carrying_capacity"/>  <!-- 核定载人数 -->
        <result property="remarks" column="remarks"/>  <!-- 备注 -->
        <collection property="queryRecord" column="car_info_id"
                    select="com.tieshan.disintegrate.dao.CarProcedureLogMapper.selectQueryVo"/>
        <collection property="verifyRecord" column="car_info_id"
                    select="com.tieshan.disintegrate.dao.CarProcedureLogMapper.selectVerifyVo"/>
    </resultMap>
    <resultMap type="com.tieshan.disintegrate.vo.WebCarCustomerInfoVo" id="carInfoWebVoMap">
        <result property="carInfoId" column="car_info_id"/>  <!--  -->
        <result property="carCode" column="car_code"/>  <!-- 车辆编号 -->
        <result property="carNo" column="car_no"/>  <!-- 车牌号 -->
        <result property="ascription" column="ascription"/>  <!-- 车辆归属 -->
        <result property="cardColor" column="card_color"/>  <!-- 车牌颜色 -->
        <result property="owner" column="owner"/>  <!-- 车主姓名（或组织机构名称） -->
        <result property="phone" column="phone"/>  <!-- 车主电话 -->
        <result property="idCard" column="id_card"/>  <!-- 车主身份证号（组织结构代码） -->
        <result property="ownerZipcode" column="owner_zipcode"/>  <!-- 车主邮编 -->
        <result property="ownerAddress" column="owner_address"/>  <!-- 车主地址 -->
        <result property="agend" column="agend"/>  <!-- 代理人 -->
        <result property="agendIdcard" column="agend_idcard"/>  <!-- 代理人身份证号 -->
        <result property="contacts" column="contacts"/>  <!-- 交车人姓名 -->
        <result property="contactsPhone" column="contacts_phone"/>  <!-- 交车人电话 -->
        <result property="contactsAddress" column="contacts_address"/>  <!-- 交车人地址 -->
        <result property="drivLicense" column="driv_license"/>  <!-- 行驶本。1.没有，2.有 -->
        <result property="registLicense" column="regist_license"/>  <!-- 登记证。1.没有，2.有 -->
        <result property="carName" column="car_name"/>  <!-- 车型 -->
        <result property="carWeight" column="car_weight"/>  <!-- 整车质量 -->
        <result property="carKind" column="car_kind"/>  <!-- 车辆性质 -->
        <result property="fuelType" column="fuel_type"/>  <!-- 燃油性质 -->
        <result property="regTime" column="reg_time"/>  <!-- 注册时间 -->
        <result property="issueTime" column="issue_time"/>  <!-- 发证日期 -->
        <result property="natureUsege" column="nature_usege"/>  <!-- 使用性质 -->
        <result property="carProperties" column="car_properties"/>  <!-- 车辆类型 -->
        <result property="vin" column="vin"/>  <!-- vin -->
        <result property="engine" column="engine"/>  <!-- 发动机号码 -->
        <result property="issueSize" column="issue_size"/>  <!-- 外廓尺寸 -->
        <result property="displacement" column="displacement"/>  <!-- 汽车排量 -->
        <result property="carryingCapacity" column="carrying_capacity"/>  <!-- 核定载人数 -->
        <result property="remarks" column="remarks"/>  <!-- 备注 -->
        <collection property="queryRecord" column="car_info_id"
                    select="com.tieshan.disintegrate.dao.CarProcedureLogMapper.selectWebProcedureVo"/>
    </resultMap>
    <resultMap type="com.tieshan.disintegrate.vo.AppCarBaseVo" id="appCarBaseVo">
        <result property="carInfoId" column="car_info_id"/>  <!--  -->
        <result property="carCode" column="car_code"/>  <!-- 车辆编号 -->
        <result property="carNo" column="car_no"/>  <!-- 车牌号 -->
        <result property="approachTime" column="ascription"/>  <!-- 车辆归属 -->
        <result property="vin" column="vin"/>  <!-- vin -->
        <result property="isVerify" column="is_verify"/>
        <result property="carProcessingId" column="car_processing_id"/>
        <association property="verificationResult" column="{carInfoId=car_info_id,carProcessingId=car_processing_id}"
                     select="com.tieshan.disintegrate.dao.CarProcedureLogMapper.selectAppOneByMap"/>
    </resultMap>
    <resultMap type="com.tieshan.disintegrate.vo.CarProcedureIssueVo" id="crProcedureIssueVo">
        <result property="carInfoId" column="car_info_id"/>  <!--  -->
        <result property="carCode" column="car_code"/>  <!-- 车辆编号 -->
        <result property="carNo" column="car_no"/>  <!-- 车牌号 -->
        <result property="carName" column="car_name"/>  <!-- 车型 -->
        <result property="contacts" column="contacts"/>  <!-- 联系人 -->
        <result property="contactsPhone" column="contacts_phone"/>  <!-- 联系人手机号 -->
        <result property="vin" column="vin"/>  <!-- vin -->
        <result property="isGetSalvage" column="is_get_salvage"/>  <!-- 1：未领取残值；2：已领取残值； -->
        <result property="isProcedureIssue" column="is_procedure_issue"/>  <!-- 1：未发放手续；2：已发放手续； -->
        <result property="procedureIssueTime" column="procedure_issue_time"/>  <!-- 发放时间 -->
    </resultMap>

    <select id="selectOneByMap" resultMap="carInfoMap">
        SELECT  id, disintegrate_plant_id, car_source, contacts, contacts_phone, car_no, processing_type, processing_date,
        procedures, procedures_type, remarks, create_time, operator_id, operator, car_name, is_delete
        FROM ts_car_info
        <where>
            <if test="id!=null">
                AND id=#{id}  <!--  -->
            </if>
            <if test="disintegratePlantId!=null">
                AND disintegrate_plant_id=#{disintegratePlantId}  <!-- 解体厂id -->
            </if>
            <if test="carSource!=null">
                AND car_source=#{carSource}  <!-- 车源主键id -->
            </if>
            <if test="contacts!=null and contacts!=''">
                AND contacts=#{contacts}  <!-- 车辆联系人 -->
            </if>
            <if test="contactsPhone!=null and contactsPhone!=''">
                AND contacts_phone=#{contactsPhone}  <!-- 手机号 -->
            </if>
            <if test="carNo!=null and carNo!=''">
                AND car_no=#{carNo}  <!-- 车牌号 -->
            </if>
            <if test="processingType!=null and processingType!=''">
                AND processing_type=#{processingType}  <!-- 车辆回收方式（来自字典表) -->
            </if>
            <if test="processingDate!=null">
                AND processing_date=#{processingDate}  <!-- 处理日期 -->
            </if>
            <if test="procedures!=null and procedures!=''">
                AND procedures=#{procedures}  <!-- 驾驶证 行驶本等等 -->
            </if>
            <if test="proceduresType!=null and proceduresType!=''">
                AND procedures_type=#{proceduresType}  <!-- 手续获取方式 -->
            </if>
            <if test="remarks!=null and remarks!=''">
                AND remarks=#{remarks}  <!-- 备注 -->
            </if>
            <if test="createTime!=null">
                AND create_time=#{createTime}  <!--  -->
            </if>
            <if test="operatorId!=null">
                AND operator_id=#{operatorId}  <!-- 操作人id -->
            </if>
            <if test="operator!=null and operator!=''">
                AND operator=#{operator}  <!-- 操作人 -->
            </if>
            <if test="carName!=null and carName!=''">
                AND car_name=#{carName}  <!-- 车型 -->
            </if>
            <if test="isDelete!=null">
                AND is_delete=#{isDelete}  <!-- 是否删除。1.删除，2,正常 -->
            </if>
        </where>
    </select>

    <select id="selectListByMap" resultMap="carInfoMap">
        SELECT  id, disintegrate_plant_id, car_source, contacts, contacts_phone, car_no, processing_type, processing_date,
        procedures, procedures_type, remarks, create_time, operator_id, operator, car_name, is_delete
        FROM ts_car_info
        <where>
            <if test="id!=null">
                AND id=#{id}  <!--  -->
            </if>
            <if test="disintegratePlantId!=null">
                AND disintegrate_plant_id=#{disintegratePlantId}  <!-- 解体厂id -->
            </if>
            <if test="carSource!=null">
                AND car_source=#{carSource}  <!-- 车源主键id -->
            </if>
            <if test="contacts!=null and contacts!=''">
                AND contacts=#{contacts}  <!-- 车辆联系人 -->
            </if>
            <if test="contactsPhone!=null and contactsPhone!=''">
                AND contacts_phone=#{contactsPhone}  <!-- 手机号 -->
            </if>
            <if test="carNo!=null and carNo!=''">
                AND car_no=#{carNo}  <!-- 车牌号 -->
            </if>
            <if test="processingType!=null and processingType!=''">
                AND processing_type=#{processingType}  <!-- 车辆回收方式（来自字典表) -->
            </if>
            <if test="processingDate!=null">
                AND processing_date=#{processingDate}  <!-- 处理日期 -->
            </if>
            <if test="procedures!=null and procedures!=''">
                AND procedures=#{procedures}  <!-- 驾驶证 行驶本等等 -->
            </if>
            <if test="proceduresType!=null and proceduresType!=''">
                AND procedures_type=#{proceduresType}  <!-- 手续获取方式 -->
            </if>
            <if test="remarks!=null and remarks!=''">
                AND remarks=#{remarks}  <!-- 备注 -->
            </if>
            <if test="createTime!=null">
                AND create_time=#{createTime}  <!--  -->
            </if>
            <if test="operatorId!=null">
                AND operator_id=#{operatorId}  <!-- 操作人id -->
            </if>
            <if test="operator!=null and operator!=''">
                AND operator=#{operator}  <!-- 操作人 -->
            </if>
            <if test="carName!=null and carName!=''">
                AND car_name=#{carName}  <!-- 车型 -->
            </if>
            <if test="isDelete!=null">
                AND is_delete=#{isDelete}  <!-- 是否删除。1.删除，2,正常 -->
            </if>
        </where>
    </select>
    <select id="selectAppList" resultMap="appCarBaseVo">
        SELECT i.id car_info_id,i.car_code, e.approach_time,i.car_no,ie.vin,p.is_verify,p.id car_processing_id
        FROM ts_car_info i
        left join ts_car_enter e on i.id=e.car_info_id
        left join ts_car_identity ie on i.id=ie.car_info_id
        left join ts_car_processing p on i.id=p.car_info_id
        <where>
            <if test="disintegratePlantId!=null">
                AND i.disintegrate_plant_id=#{disintegratePlantId}  <!-- 解体厂id -->
            </if>
            <if test="isQuery!=null">
                AND p.is_query=#{isQuery}
            </if>
            <if test="isVerify!=null">
                AND p.is_verify=#{isVerify}
            </if>
            <if test="isVerify==null or isVerify==''">
                and p.is_verify!=''
            </if>
            <if test="searchInfo!=null and searchInfo!=''">
                and concat(i.contacts,i.contacts_phone,i.car_name,i.car_no,i.car_code)
                like concat("%",#{searchInfo},"%")
            </if>
        </where>
    </select>
    <select id="selectCarCustomerInfo" resultMap="carInfoVoMap">
        SELECT i.id car_info_id,i.car_code, i.car_no,ie.ascription,s.card_color,ie.owner,ie.phone,ie.id_card,
        ie.owner_zipcode,ie.owner_address,ie.agend,ie.agend_idcard,i.contacts,i.contacts_phone,i.contacts_address,
        i.driv_license,i.regist_license,i.car_name,ie.car_weight,ie.car_kind,ie.fuel_type,ie.reg_time,ie.issue_time,
        ie.nature_usege,ie.car_properties,ie.vin,ie.engine,ie.issue_size,ie.displacement,ie.carrying_capacity,
        ie.remarks,p.is_verify,p.is_query
        FROM ts_car_info i
        left join ts_car_enter e on i.id=e.car_info_id
        left join ts_car_identity ie on i.id=ie.car_info_id
        left join ts_car_processing p on i.id=p.car_info_id
        left join ts_car_survey s on i.id=s.car_info_id
        <where>
            <if test="disintegratePlantId!=null">
                AND i.disintegrate_plant_id=#{disintegratePlantId}  <!-- 解体厂id -->
            </if>
            <if test="carInfoId!=null">
                AND i.id=#{carInfoId}
            </if>
            <if test="isQuery!=null">
                AND p.is_query=#{isQuery}
            </if>
            <if test="isVerify!=null">
                AND p.is_verify=#{isVerify}
            </if>
        </where>
    </select>
    <select id="selectProcedureIssueVoList" resultMap="crProcedureIssueVo">
        SELECT i.id car_info_id,i.car_code, i.car_no,i.car_name,i.contacts,i.contacts_phone,i.contacts_address,
        ie.vin,s.is_get_salvage,p.is_procedure_issue,p.procedure_issue_time
        FROM ts_car_info i
        left join ts_car_identity ie on i.id=ie.car_info_id
        left join ts_car_processing p on i.id=p.car_info_id
        left join ts_car_salvage s on i.id=s.car_info_id
        where i.disintegrate_plant_id=#{disintegratePlantId}
            AND p.is_appoint_logout_time=2
            <if test="disintegratePlantId!=null">
                AND i.disintegrate_plant_id=#{disintegratePlantId}  <!-- 解体厂id -->
            </if>
            <if test="isGetSalvage!=null">
                AND s.is_get_salvage=#{isGetSalvage}
            </if>
            <if test="isProcedureIssue!=null">
                AND p.is_procedure_issue=#{isProcedureIssue}
            </if>
            <if test="searchInfo!=null and searchInfo!=''">
                and concat(i.contacts,i.contacts_phone,i.car_name,i.car_no,i.car_code)
                like concat("%",#{searchInfo},"%")
            </if>
    </select>
    <select id="selectProcedureVoList" resultType="com.tieshan.disintegrate.vo.CarProcedureListVo">
        SELECT i.id carInfoId,i.car_code carCode, i.car_no carNo,i.car_name carName,i.contacts,i.contacts_phone contactsPhone,
            ie.vin,p.is_query isQuery,p.is_register isRegister,p.is_verify isVerify,p.is_destructive isDestructive,
            p.is_data_upload isDataUpload,p.is_print_recycle isPrintRecycle,p.is_logout isLogout,
            p.is_appoint_logout_time isAppointLogoutTime,p.is_procedure_issue isProcedureIssue,i.create_time
        FROM ts_car_info i
        left join ts_car_processing p on i.id=p.car_info_id
        left join ts_car_identity ie on i.id=ie.car_info_id
        where i.disintegrate_plant_id=#{disintegratePlantId}
        <if test="searchInfo!=null and searchInfo!=''">
            and concat(i.contacts,i.contacts_phone,i.car_name,i.car_no,i.car_code)
            like concat("%",#{searchInfo},"%")
        </if>
    </select>
    <select id="selectWebCarCustomerInfo" resultMap="carInfoWebVoMap">
        SELECT i.id car_info_id,i.car_code, i.car_no,ie.ascription,s.card_color,ie.owner,ie.phone,ie.id_card,
        ie.owner_zipcode,ie.owner_address,ie.agend,ie.agend_idcard,i.contacts,i.contacts_phone,i.contacts_address,
        i.driv_license,i.regist_license,i.car_name,ie.car_weight,ie.car_kind,ie.fuel_type,ie.reg_time,ie.issue_time,
        ie.nature_usege,ie.car_properties,ie.vin,ie.engine,ie.issue_size,ie.displacement,ie.carrying_capacity,
        ie.remarks,p.is_verify,p.is_query
        FROM ts_car_info i
        left join ts_car_enter e on i.id=e.car_info_id
        left join ts_car_identity ie on i.id=ie.car_info_id
        left join ts_car_processing p on i.id=p.car_info_id
        left join ts_car_survey s on i.id=s.car_info_id
        <where>
            <if test="disintegratePlantId!=null">
                AND i.disintegrate_plant_id=#{disintegratePlantId}  <!-- 解体厂id -->
            </if>
            <if test="carInfoId!=null">
                AND i.id=#{carInfoId}
            </if>
            <if test="isQuery!=null">
                AND p.is_query=#{isQuery}
            </if>
            <if test="isVerify!=null">
                AND p.is_verify=#{isVerify}
            </if>
        </where>
    </select>

    <insert id="insertCarInfo">
        INSERT INTO ts_car_info(
        <trim suffixOverrides=",">
            <if test="id!=null">
                id,  <!--  -->
            </if>
            <if test="disintegratePlantId!=null">
                disintegrate_plant_id,  <!-- 解体厂id -->
            </if>
            <if test="carSource!=null">
                car_source,  <!-- 车源主键id -->
            </if>
            <if test="contacts!=null and contacts!=''">
                contacts,  <!-- 车辆联系人 -->
            </if>
            <if test="contactsPhone!=null and contactsPhone!=''">
                contacts_phone,  <!-- 手机号 -->
            </if>
            <if test="carNo!=null and carNo!=''">
                car_no,  <!-- 车牌号 -->
            </if>
            <if test="processingType!=null and processingType!=''">
                processing_type,  <!-- 车辆回收方式（来自字典表) -->
            </if>
            <if test="processingDate!=null">
                processing_date,  <!-- 处理日期 -->
            </if>
            <if test="procedures!=null and procedures!=''">
                procedures,  <!-- 驾驶证 行驶本等等 -->
            </if>
            <if test="proceduresType!=null and proceduresType!=''">
                procedures_type,  <!-- 手续获取方式 -->
            </if>
            <if test="remarks!=null and remarks!=''">
                remarks,  <!-- 备注 -->
            </if>
            <if test="createTime!=null">
                create_time,  <!--  -->
            </if>
            <if test="operatorId!=null">
                operator_id,  <!-- 操作人id -->
            </if>
            <if test="operator!=null and operator!=''">
                operator,  <!-- 操作人 -->
            </if>
            <if test="carName!=null and carName!=''">
                car_name,  <!-- 车型 -->
            </if>
            <if test="isDelete!=null">
                is_delete,  <!-- 是否删除。1.删除，2,正常 -->
            </if>
        </trim>
        )VALUES(
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},  <!--  -->
            </if>
            <if test="disintegratePlantId!=null">
                #{disintegratePlantId},  <!-- 解体厂id -->
            </if>
            <if test="carSource!=null">
                #{carSource},  <!-- 车源主键id -->
            </if>
            <if test="contacts!=null and contacts!=''">
                #{contacts},  <!-- 车辆联系人 -->
            </if>
            <if test="contactsPhone!=null and contactsPhone!=''">
                #{contactsPhone},  <!-- 手机号 -->
            </if>
            <if test="carNo!=null and carNo!=''">
                #{carNo},  <!-- 车牌号 -->
            </if>
            <if test="processingType!=null and processingType!=''">
                #{processingType},  <!-- 车辆回收方式（来自字典表) -->
            </if>
            <if test="processingDate!=null">
                #{processingDate},  <!-- 处理日期 -->
            </if>
            <if test="procedures!=null and procedures!=''">
                #{procedures},  <!-- 驾驶证 行驶本等等 -->
            </if>
            <if test="proceduresType!=null and proceduresType!=''">
                #{proceduresType},  <!-- 手续获取方式 -->
            </if>
            <if test="remarks!=null and remarks!=''">
                #{remarks},  <!-- 备注 -->
            </if>
            <if test="createTime!=null">
                #{createTime},  <!--  -->
            </if>
            <if test="operatorId!=null">
                #{operatorId},  <!-- 操作人id -->
            </if>
            <if test="operator!=null and operator!=''">
                #{operator},  <!-- 操作人 -->
            </if>
            <if test="carName!=null and carName!=''">
                #{carName},  <!-- 车型 -->
            </if>
            <if test="isDelete!=null">
                #{isDelete},  <!-- 是否删除。1.删除，2,正常 -->
            </if>
        </trim>
        )
    </insert>

    <update id="updateCarInfo">
        UPDATE ts_car_info
        <trim prefix="set" suffixOverrides=",">
            <if test="carSource!=null">
                car_source=#{carSource},  <!-- 车源主键id -->
            </if>
            <if test="contacts!=null and contacts!=''">
                contacts=#{contacts},  <!-- 车辆联系人 -->
            </if>
            <if test="contactsPhone!=null and contactsPhone!=''">
                contacts_phone=#{contactsPhone},  <!-- 手机号 -->
            </if>
            <if test="contactsAddress!=null and contactsAddress!=''">
                contacts_address=#{contactsAddress},  <!-- 手机号 -->
            </if>
            <if test="carNo!=null and carNo!=''">
                car_no=#{carNo},  <!-- 车牌号 -->
            </if>
            <if test="processingType!=null and processingType!=''">
                processing_type=#{processingType},  <!-- 车辆回收方式（来自字典表) -->
            </if>
            <if test="processingDate!=null">
                processing_date=#{processingDate},  <!-- 处理日期 -->
            </if>
            <if test="proceduresType!=null and proceduresType!=''">
                procedures_type=#{proceduresType},  <!-- 手续获取方式 -->
            </if>
            <if test="remarks!=null and remarks!=''">
                remarks=#{remarks},  <!-- 备注 -->
            </if>
            <if test="createTime!=null">
                create_time=#{createTime},  <!--  -->
            </if>
            <if test="operatorId!=null">
                operator_id=#{operatorId},  <!-- 操作人id -->
            </if>
            <if test="operator!=null and operator!=''">
                operator=#{operator},  <!-- 操作人 -->
            </if>
            <if test="carName!=null and carName!=''">
                car_name=#{carName},  <!-- 车型 -->
            </if>
            <if test="isDelete!=null">
                is_delete=#{isDelete},  <!-- 是否删除。1.删除，2,正常 -->
            </if>
            <if test="drivLicense!=null and drivLicense!=''">
                driv_license=#{drivLicense},  <!-- 手机号 -->
            </if>
            <if test="registLicense!=null and drivLicense!=''">
                regist_license=#{registLicense},  <!-- 手机号 -->
            </if>
        </trim>
        WHERE id=#{id} AND disintegrate_plant_id=#{disintegratePlantId}
    </update>

</mapper>