<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.disintegrate.dao.CarsQueryDao">

    <resultMap type="com.tieshan.disintegrate.pojo.CarsQuery" id="carsQueryMap">
        <result property="carCode" column="car_code"/>
        <result property="carNo" column="car_no"/>
        <result property="carInfoId" column="car_info_id"/>
        <result property="cardColor" column="card_color"/>
        <result property="carName" column="car_name"/>
        <result property="carKind" column="car_kind"/>
        <result property="natureUsege" column="nature_usege"/>
        <result property="carProperties" column="car_properties"/>
        <result property="regTime" column="reg_time"/>
        <result property="issueTime" column="issue_time"/>
        <result property="contactsPhone" column="contacts_phone"/>
    </resultMap>

    <!-- 查询列表数据 -->
    <select id="findPageObjects"
            resultMap="carsQueryMap">
        select iden.car_info_id,info.car_code,info.car_no,sur.card_color,info.car_name,iden.car_kind,iden.nature_usege,
        iden.car_properties,iden.reg_time,iden.issue_time,iden.owner,iden.phone,info.contacts,
        info.contacts_phone,iden.vin,iden.engine
        from ts_car_identity AS iden
        join ts_car_info AS info on iden.car_info_id=info.id
        join ts_car_survey AS sur on sur.car_info_id=info.id
        and iden.disintegrate_plant_id=#{companyId}
        <include refid="queryWhereMsg"/>
    </select>
    <!-- App端查询预处理数据 -->
    <select id="findPretreatmentCars" resultType="map">
        select ent.car_info_id,info.car_code,info.car_no,info.car_name,ent.approach_time
        from ts_car_info info,ts_car_enter ent
        <include refid="queryWhereSurvey"/>
    </select>
    <!--App端根据carInfoId查询车辆预处理信息-->
    <select id="doFindCars" resultType="com.tieshan.disintegrate.vo.CaiPrePicVo">
        select pic.id,dic.first_type,dic.two_type,dic.filed_name file_name,pic.file_url
        from ts_dictionary dic
        left join ts_car_pic pic
        on dic.first_type=pic.first_type and dic.two_type=pic.two_type and pic.car_info_id=#{carInfoId} and pic.disintegrate_plant_id=#{companyId}
        where dic.first_type='pre_pic'
    </select>
    <!-- App端查询预处理图片名称，从字典表 -->
    <select id="findPrePicNameCars" resultType="map">
        select first_type,two_type,filed_name from ts_dictionary where first_type='pre_pic'
    </select>
    <!-- App端查询车辆拓号数据 -->
    <select id="findCopyNumberCars" resultType="map">
        select ent.car_info_id,info.car_code,info.car_no,info.car_name,ent.approach_time
        from ts_car_info info,ts_car_enter ent
        <include refid="queryWherePretreatment"/>
    </select>
    <!-- App端根据carInfoId查询车辆拓号数据 -->
    <select id="findCpTuoPic" resultType="map">
        select pic.id,pic.file_name,pic.file_url,pic.first_type,pic.two_type from ts_car_pic pic
        where car_info_id=#{carInfoId}
        and pic.disintegrate_plant_id=#{companyId} and pic.first_type='tuo_pic'
    </select>
    <!-- App端查询拓号图片名称，从字典表 -->
    <select id="findCpPicNameCars" resultType="map">
        select first_type,two_type,filed_name from ts_dictionary where first_type='tuo_pic'
    </select>
    <!-- App端查询车辆预拆解数据 -->
    <select id="findDismantleCars" resultType="map">
        select ent.car_info_id,info.car_code,info.car_no,info.car_name,ent.approach_time
        from ts_car_info info,ts_car_enter ent
        <include refid="queryWhereDismantle"/>
    </select>
    <!-- App端查询车辆初检数据 -->
    <select id="findSurveyById" resultType="map">
      select info.car_code,info.car_no,info.car_name,ent.approach_time,iden.displacement,iden.vin,iden.engine,sur.car_degree,
      sur.condition_pump_count,sur.battery_count,sur.motor_count,sur.door_count,sur.alloy_rim_count,sur.cistern_count,
      sur.electrical_machinery_count,sur.tyre_count,sur.chair_count,sur.conditioner_count,sur.catalytic_converter_count,sur.is_alloy_rim,sur.remark
      from ts_car_survey AS sur
      join ts_car_info AS info on sur.car_info_id=info.id
      join ts_car_enter AS ent on ent.car_info_id=info.id
      join ts_car_identity AS iden on iden.car_info_id=info.id
      where sur.car_info_id=#{carInfoId} and sur.disintegrate_plant_id=#{companyId}
    </select>
    <select id="findPrePicById" resultType="com.tieshan.disintegrate.vo.CaiPrePicVo">
        select * from ts_car_pic where car_info_id=#{carInfoId} and disintegrate_plant_id=#{companyId} and first_type ='pre_pic'
    </select>
    <!-- App端选择拆解方式 -->
    <update id="updateSurveyWay">

        update ts_car_survey set dismantling_way=#{status} where car_info_id=#{carInfoId} and disintegrate_plant_id=#{companyId}
    </update>
    <update id="updateEnterWay">

        update ts_car_enter set dismantle_way=#{status} where car_info_id=#{carInfoId} and disintegrate_plant_id=#{companyId}
    </update>
<!--111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111-->
    <!-- App端查询待毁型数据 -->
    <select id="findPreBreakCars" resultType="map">
        select ent.car_info_id,info.car_code,info.car_no,info.car_name,ent.approach_time
        from ts_car_info AS info join ts_car_enter AS ent on ent.car_info_id=info.id join ts_car_processing AS pos on pos.car_info_id=info.id
        <include refid="queryBreakSurvey"/>
    </select>
    <!--App端根据carInfoId查询车辆待毁型信息-->
    <select id="findPreBreakCarsById" resultType="map">

        select dic.first_type,dic.two_type,dic.filed_name file_name,pic.file_url
        from ts_dictionary dic
        left join ts_car_pic pic
        on dic.first_type=pic.first_type and dic.two_type=pic.two_type and pic.car_info_id=#{carInfoId} and pic.disintegrate_plant_id=#{companyId}
        where dic.first_type='break_pic'
    </select>
    <!-- App端查询毁型完成数据 -->
    <select id="findBreakSuccessCars" resultType="map">
        select ent.car_info_id,info.car_code,info.car_no,info.car_name,ent.approach_time
        from ts_car_info AS info join ts_car_enter AS ent on ent.car_info_id=info.id join ts_car_processing AS pos on pos.car_info_id=info.id
        <include refid="queryBreakSuccessSurvey"/>
    </select>
    <!-- APP端查询待上传报废照片的列表数据 -->
    <select id="findProCars" resultType="map">
        SELECT
        IFNULL( i.id, '' ) AS carInfoId,
        IFNULL( i.car_code, '' ) AS carCode,
        IFNULL( i.car_no, '' ) AS carNo,
        IFNULL( i.car_name, '' ) AS carName,
        IFNULL( p.is_appoint_time, '' ) AS isAppointTime
        FROM
        ts_car_info AS i
        LEFT JOIN ts_car_processing AS p ON i.id = p.car_info_id
        <include refid="queryFindProCars"/>
    </select>

    <!--APP端查询已上传报废照片的列表数据-->
    <select id="findProCarsComplete" resultType="map">
        SELECT
        IFNULL( i.id, '' ) AS carInfoId,
        IFNULL( i.car_code, '' ) AS carCode,
        IFNULL( i.car_no, '' ) AS carNo,
        IFNULL( i.car_name, '' ) AS carName,
        IFNULL( p.is_appoint_time, '' ) AS isAppointTime
        FROM
        ts_car_info AS i
        LEFT JOIN ts_car_processing AS p ON i.id = p.car_info_id
        <include refid="findProCarsComplete"/>
    </select>

    <!--App端根据carInfoId查询车辆报废证明照片信息-->
    <select id="findProCarsById" resultType="map">

        select dic.first_type,dic.two_type,dic.filed_name file_name,pic.file_url
        from ts_dictionary dic
        left join ts_car_pic pic
        on dic.first_type=pic.first_type and dic.two_type=pic.two_type and pic.car_info_id=#{carInfoId} and pic.disintegrate_plant_id=#{companyId}
        where dic.first_type='pro_pic'
    </select>
    <!-- App端查询本部已处理数据 -->
    <select id="findIsHandle" resultType="map">
        select ent.car_info_id,info.car_code,info.car_no,info.car_name,ent.approach_time
        from ts_car_info info
        left join ts_car_enter ent on ent.car_info_id=info.id
        left join ts_car_processing pro on pro.car_info_id=info.id
        <include refid="queryWhereIsHandle"/>
    </select>
    <sql id="queryWhereIsHandle">
        <where>
            pro.is_destructive=2 and ent.dismantle_way!=5
            ent.disintegrate_plant_id=#{companyId}
            <if test="findMsg!=null and findMsg!=''">
                and concat(info.car_no,info.car_name,info.car_code)
                like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>

    <sql id="findProCarsComplete">
        <where>
            i.disintegrate_plant_id = 1
            AND p.is_logout = 2
            AND p.is_appoint_logout_time = 2
            AND p.is_upload_pic=2
            <if test="findMsg!=null and findMsg!=''">
                and concat(carNo,info.carName,carCode)
                like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>
    <sql id="queryFindProCars">
        <where>
            i.disintegrate_plant_id = 1
            AND p.is_logout = 2
            AND p.is_appoint_logout_time = 2
            AND p.is_upload_pic=1
            <if test="findMsg!=null and findMsg!=''">
                and concat(carNo,info.carName,carCode)
                like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>

    <sql id="queryBreakSuccessSurvey">
        <where>
            pos.is_destructive=2 and pos.is_verify=2 and ent.disintegrate_plant_id=#{companyId}
            <if test="findMsg!=null and findMsg!=''">
                and concat(info.car_no,info.car_name,info.car_code)
                like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>
    <sql id="queryBreakSurvey">
        <where>
            pos.is_destructive=1 and pos.is_verify=2 and ent.disintegrate_plant_id=#{companyId}
            <if test="findMsg!=null and findMsg!=''">
                and concat(info.car_no,info.car_name,info.car_code)
                like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>
    <sql id="queryWhereDismantle">
        <where>
            ent.car_info_id=info.id and ent.is_copy_number=2 and ent.dismantle_way=5 and
            ent.disintegrate_plant_id=#{dpId}
            <if test="findMsg!=null and findMsg!=''">
                and concat(info.car_no,info.car_name,info.car_code)
                like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>
    <sql id="queryWhereSurvey">
        <where>
            ent.car_info_id=info.id and ent.is_initial_survey=2 and ent.is_pretreatment=1 and
            ent.disintegrate_plant_id=#{dpId}
            <if test="findMsg!=null and findMsg!=''">
                and concat(info.car_no,info.car_name,info.car_code)
                like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>
    <sql id="queryWhereMsg">
        <where>
            <if test="findMsg!=null and findMsg!=''">
                and concat(iden.owner,iden.phone,info.car_name,info.car_no,info.car_code,iden.vin,iden.engine)
                like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>
    <sql id="queryWherePretreatment">
        <where>
            ent.car_info_id=info.id and ent.is_pretreatment=2 and ent.is_copy_number=1 and
            ent.disintegrate_plant_id=#{dpId}
            <if test="findMsg!=null and findMsg!=''">
                and concat(info.car_no,info.car_name,info.car_code)
                like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>
</mapper>