<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.disintegrate.dao.CarsQueryDao">

    <!-- 查询列表数据 -->
    <select id="findPageObjects"
            resultType="com.tieshan.disintegrate.pojo.CarsQuery">
        select info.id,info.car_no,iden.card_color,info.car_name,iden.car_kind,iden.nature_usege,
        iden.car_properties,iden.reg_time,iden.issue_time,iden.owner,iden.phone,info.contacts,
        info.contacts_phone,iden.vin,iden.engine
        from ts_car_identity iden,ts_car_info info
        <include refid="queryWhereMsg"/>
    </select>



    <sql id="queryWhereMsg">
        <where>
            iden.car_info_id=info.id
            <if test="findMsg!=null and findMsg!=''">
                and iden.owner like concat("%",#{findMsg},"%")
                or iden.phone like concat("%",#{findMsg},"%")
                or info.car_name like concat("%",#{findMsg},"%")
                or info.car_no like concat("%",#{findMsg},"%")
                or info.id like concat("%",#{findMsg},"%")
                or iden.vin like concat("%",#{findMsg},"%")
                or iden.engine like concat("%",#{findMsg},"%")
            </if>
        </where>
    </sql>
</mapper>