<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.disintegrate.dao.CensusMapper">
    <select id="filesCensus" resultType="java.util.Map">
        SELECT
            MAX( CASE type WHEN 'one' THEN num ELSE 0 END ) typeOne,
            MAX( CASE type WHEN 'two' THEN num ELSE 0 END ) typeTwo,
            MAX( CASE type WHEN 'three' THEN num ELSE 0 END ) typeThree
        FROM
            (
            ( SELECT 'one' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 1 AND is_query = 2 ) UNION ALL
            ( SELECT 'two' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 3 AND is_query = 2 ) UNION ALL
            ( SELECT 'three' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 2 )
            ) a
    </select>
    <select id="disassembleCensus" resultType="java.util.Map">
        SELECT
            MAX( CASE type WHEN 'one' THEN num ELSE 0 END ) typeOne,
            MAX( CASE type WHEN 'two' THEN num ELSE 0 END ) typeTwo,
            MAX( CASE type WHEN 'three' THEN num ELSE 0 END ) typeThree
        FROM
            (
            ( SELECT 'one' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 1 AND is_query = 2 ) UNION ALL
            ( SELECT 'two' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 3 AND is_query = 2 ) UNION ALL
            ( SELECT 'three' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 2 ) ) a
    </select>
    <select id="businessCensus" resultType="java.util.Map">
        SELECT
            MAX( CASE type WHEN 'one' THEN num ELSE 0 END ) typeOne,
            MAX( CASE type WHEN 'two' THEN num ELSE 0 END ) typeTwo,
            MAX( CASE type WHEN 'three' THEN num ELSE 0 END ) typeThree
        FROM
            (
            ( SELECT 'one' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 1 AND is_query = 2 ) UNION ALL
            ( SELECT 'two' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 3 AND is_query = 2 ) UNION ALL
            ( SELECT 'three' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 2 ) ) a
    </select>
    <select id="proceduresCensus" resultType="java.util.Map">
        SELECT
            MAX( CASE type WHEN 'one' THEN num ELSE 0 END ) typeOne,
            MAX( CASE type WHEN 'two' THEN num ELSE 0 END ) typeTwo,
            MAX( CASE type WHEN 'three' THEN num ELSE 0 END ) typeThree
        FROM
            (
            ( SELECT 'one' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 1 AND is_query = 2 ) UNION ALL
            ( SELECT 'two' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 3 AND is_query = 2 ) UNION ALL
            ( SELECT 'three' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 2 ) ) a
    </select>
    <select id="technologyCensus" resultType="java.util.Map">
        SELECT
            MAX( CASE type WHEN 'one' THEN num ELSE 0 END ) typeOne,
            MAX( CASE type WHEN 'two' THEN num ELSE 0 END ) typeTwo,
            MAX( CASE type WHEN 'three' THEN num ELSE 0 END ) typeThree
        FROM
            (
            ( SELECT 'one' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 1 AND is_query = 2 ) UNION ALL
            ( SELECT 'two' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 3 AND is_query = 2 ) UNION ALL
            ( SELECT 'three' type, count( 1 ) AS num FROM ts_car_processing WHERE is_verify = 2 ) ) a
    </select>
</mapper>