<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tieshan.disintegrate.dao.DepartmentMapper">

    <select id="allDepartment" resultType="com.tieshan.disintegrate.pojo.Department">
            SELECT
            IFNULL(id,'') as id,
            IFNULL(department_name,'') as department_name,
            IFNULL(department_status,'') as department_status,
            IFNULL(department_describe,'') as department_describe,
            IFNULL(create_time,'') as create_time,
            IFNULL(update_time,'') as update_time,
            IFNULL(seq,'') as seq
        FROM
            department
            where  company_code=#{company_code}

</select>
    <select id="getDepart" resultType="com.tieshan.disintegrate.pojo.Department">
         SELECT
            id,
            department_name,
            department_status,
            department_describe,
            operator,
            create_time,
            update_time,
            seq
        FROM
            department
            where department_name=#{department_name}
    </select>
    <update id="updateDepart">
      UPDATE department
        SET department_name = #{depart.department_name},department_describe=#{depart.department_describe},update_time= now()
        where id=#{depart.id}
    </update>
    <delete id="delDepart">

       delete  from department where  id=#{id}
   </delete>
    <insert id="addDepart">
        INSERT INTO department ( id, department_name,  department_describe,company_code ,operator, create_time)
         VALUES 	(#{depart.id},#{depart.department_name},#{depart.department_describe},#{depart.company_code},#{depart.operator},now())
   </insert>
    <select id="getDepartById" resultType="java.util.Map">
         SELECT
            IFNULL(id,'') as id,
            IFNULL(department_name,'') as department_name,
           IFNULL( department_describe,'') as department_describe
        FROM
            department
            where id=#{id}
    </select>
</mapper>