<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tieshan.disintegrate.dao.DictionaryMapper">

    <select id="findBankNameList" resultType="java.lang.String">
        SELECT
	    	IFNULL(filed_name, '') AS filedName
	    FROM
	    	ts_dictionary
	    WHERE
	    	first_type = "bank";
    </select>

	<select id="selectProvinceCodeList" resultType="java.lang.String">
		SELECT
			IFNULL(filed_name,'') AS filedName
		FROM
			ts_dictionary
		WHERE
			first_type = "province_code";
	</select>

	<select id="selectProceduresTypeList" resultType="java.lang.String">
		SELECT
			IFNULL(filed_name,'') AS filedName
		FROM
			ts_dictionary
		WHERE
			first_type = "procedures_type";
	</select>
</mapper>