<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.disintegrate.dao.NoticeMapper">
    <select id="getTop" resultType="java.util.Map">
                SELECT
                 IFNULL(top_url,'') AS top_url,
                 IFNULL(h5_url,'') AS h5_url
                FROM
                    ts_top_pic
                WHERE
                    company_id = #{company_id}
                    and pic_type='1'
                ORDER BY
                    id DESC
    </select>
    <insert id="insertNotice">
        insert into
            ts_notice(id,msg_title,msg_content,type,device_type,datetime,operator,disintegrate_plant_id,is_push)
        values
         (#{notice.id},#{notice.msg_title},#{notice.msg_content},#{notice.type}
         ,#{notice.device_type},#{notice.datetime},#{notice.operator},#{notice.disintegrate_plant_id},#{notice.is_push})
    </insert>
    <select id="selNoticePC" resultType="java.util.Map">
            SELECT
                IFNULL( id, '' ) AS id,
                IFNULL( msg_title, '' ) AS msg_title,
                IFNULL(msg_content, '' ) AS msg_content,
                IFNULL( type, '' ) AS type,
                IFNULL( datetime, '' ) AS datetime,
                IFNULL( is_push, '' ) AS is_push,
                IFNULL( device_type, '' ) AS device_type
            FROM
                ts_notice
                WHERE
                 disintegrate_plant_id=#{disintegrate_plant_id}
    </select>
    <select id="selNotice" resultType="java.util.Map">
            SELECT
                IFNULL( id, '' ) AS id,
                IFNULL( msg_title, '' ) AS msg_title,
                IFNULL( SUBSTRING( msg_content, 1, 20 ), '' ) AS msg_content,
                IFNULL( type, '' ) AS type,
                IFNULL( datetime, '' ) AS datetime
            FROM
                ts_notice
                WHERE type=#{type}
                  and device_type=#{device_type}
                    and disintegrate_plant_id=#{disintegrate_plant_id}
                    and is_push=2
    </select>
    <select id="selNoticeById" resultType="java.util.Map">

        SELECT
                IFNULL( id, '' ) AS id,
                IFNULL( msg_title, '' ) AS msg_title,
                IFNULL(msg_content, '' ) AS msg_content,
                IFNULL( type, '' ) AS type,
                IFNULL( datetime, '' ) AS datetime
            FROM
                ts_notice
                WHERE id=#{id}

    </select>
    <select id="selNoticeByIdPC" resultType="java.util.Map">
        SELECT
                IFNULL( id, '' ) AS id,
                IFNULL(msg_title, '' ) AS msg_title,
                IFNULL(msg_content, '' ) AS msg_content,
                IFNULL( type, '' ) AS type,
                IFNULL( datetime, '' ) AS datetime,
                IFNULL( is_push, '' ) AS is_push,
                IFNULL( device_type, '' ) AS device_type
            FROM
                ts_notice
                WHERE id=#{id}

    </select>
    <select id="pushNotice" resultType="com.tieshan.disintegrate.pojo.Notice">
        SELECT
                IFNULL( id, '' ) AS id,
                IFNULL(msg_title, '' ) AS msg_title,
                IFNULL(msg_content, '' ) AS msg_content,
                IFNULL( type, '' ) AS type,
                IFNULL( datetime, '' ) AS datetime,
                IFNULL( is_push, '' ) AS is_push
                IFNULL( device_type, '' ) AS device_type
            FROM
                ts_notice
                WHERE id=#{id}

    </select>
    <update id="delNoticeById">
       UPDATE ts_notice set is_delete=2 WHERE id=#{id}
    </update>
    <update id="upNotieById">
            UPDATE ts_notice
            SET
            device_type = #{notice.device_type},
            msg_title=#{notice.msg_title},
            msg_content=#{notice.msg_content}
            WHERE id=#{id}
    </update>
    <update id="push">
       UPDATE ts_notice set is_push=2 WHERE id=#{id}
    </update>
</mapper>
