<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tieshan.disintegrate.dao.ResourceMapper">


    <!--<select id="departMenus" resultType="com.tieshan.disintegrate.pojo.Resource">

            SELECT
             IFNULL(r.id,'') as id,
             IFNULL(r.resource_name,'') as resource_name,
             IFNULL(r.resource_url,'') as resource_url,
             IFNULL(r.seq,'') as seq,
             IFNULL(r.pid,'') as pid,
             IFNULL(r.create_time,'') as create_time
            FROM
                resource r
            WHERE
                EXISTS (
            SELECT
                1
            FROM
                department_resource dr
                INNER JOIN department dt ON dr.department_id = dt.id
                INNER JOIN department_user du ON du.department_id= dt.id
                INNER JOIN user u ON u.id = du.user_id
            WHERE
                u.id	= 1
                AND dr.resource_id = r.id
                )
                AND r.resource_type = 1
            ORDER BY
                r.seq
    </select>-->
    <select id="departTree" resultType="com.tieshan.disintegrate.pojo.Menu">

            SELECT
             IFNULL(r.id,'') as id,
             IFNULL(r.resource_name,'') as resource_name,
             IFNULL(r.resource_url,'') as resource_url,
             IFNULL(r.seq,'') as seq,
             IFNULL(r.pid,'') as pid
            FROM
                resource r
            WHERE
                EXISTS (
            SELECT
                1
            FROM
                department_resource dr
                INNER JOIN department dt ON dr.department_id = dt.id
                INNER JOIN department_user du ON du.department_id= dt.id
                INNER JOIN user u ON u.id = du.user_id
            WHERE
               dt.id	= #{depart_id}
                AND dr.resource_id = r.id
                and dt.company_code= r.company_code
                and dt.company_code=#{company_code}
                )
                AND r.resource_type = 1
            ORDER BY
                r.pid
    </select>


    <select id="getAllResource" resultType="com.tieshan.disintegrate.pojo.Menu">

           SELECT
             IFNULL(id,'') as id,
             IFNULL(resource_name,'') as resource_name,
             IFNULL(resource_url,'') as resource_url,
             IFNULL(resource_type,'') as resource_type,
             IFNULL(seq,'') as seq,
             '2'  isHaving ,
             IFNULL(pid,'') as pid
            FROM
                resource
            WHERE

                  resource_type = 1
                  and company_code=#{company_code}
            ORDER BY
                pid
    </select>
    <insert id="save">
                INSERT INTO resource ( id, resource_name, resource_url,resource_describe, seq, pid,create_time, operator,company_code )
              VALUES
            (#{resource.id},#{resource.resource_name},#{resource.resource_url},#{resource.resource_describe},#{resource.seq}
            ,#{resource.pid},now(),#{resource.operator},#{resource.company_code})
    </insert>
    <select id="getDepartment_Resource" resultType="java.util.Map">

            SELECT
                department_id,
                resource_id
            FROM
                department_resource
            WHERE

                    department_id=#{department_id}

    </select>
    <select id="getNode" resultType="java.util.Map">

            SELECT
                IFNULL ( id, '' ) AS pid,
                IFNULL ( resource_name, '' ) AS resource_pname
            FROM
                resource

    </select>
    <select id="getNodeById" resultType="java.util.Map">

            SELECT
                IFNULL ( id, '' ) AS id,
                IFNULL ( resource_name, '' ) AS resource_name
            FROM
                resource
                where  id =#{id}

    </select>
    <delete id="delDepartment_Resource">
         delete  from department_resource where  department_id=#{department_id}
    </delete>
    <insert id="insertDepartment_Resource">
        INSERT INTO department_resource ( id, department_id, resource_id )
        VALUES
        <foreach item="map" index="index" collection="list"
                 separator=",">
            (
            #{map.id},
            #{map.department_id},
            #{map.resource_id}
            )
        </foreach>
    </insert>
</mapper>