<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tieshan.disintegrate.dao.ResourceMapper">


    <select id="getResourceList" resultType="com.tieshan.disintegrate.pojo.Resource">

            SELECT
                r.*
            FROM
                resource r
            WHERE
                EXISTS (
            SELECT
                1
            FROM
                department_resource dr
                INNER JOIN department dt ON dr.department_id = dt.id
                INNER JOIN department_user du ON du.department_id= dt.id
                INNER JOIN user u ON u.id = du.user_id
            WHERE
                u.id	= 1
                AND dr.resource_id = r.id
                )
                AND r.resource_type = 1
            ORDER BY
                r.seq
    </select>

    <select id="getAllResource" resultType="com.tieshan.disintegrate.pojo.Resource">

           SELECT
                id,
                resource_name,
                resource_url,
                seq,
                pid,
                resource_type,
                create_time,
                operator,
                '1' isHaving
            FROM
                resource
            WHERE

                  resource_type = 1
            ORDER BY
                seq
    </select>
    <insert id="save">
                INSERT INTO resource ( id, resource_name, resource_url, seq, pid, resource_type, create_time, operator )
              VALUES
            (#{resource.id},#{resource.resource_name},#{resource.resource_url},#{resource.seq}
            ,#{resource.pid},#{resource.resource_type},now(),#{resource.operator})
    </insert>
    <select id="getDepartment_Resource" resultType="java.util.Map">

            SELECT
                department_id,
                resource_id
            FROM
                department_resource
            WHERE

                    department_id=#{department_id}

    </select>
    <delete id="delDepartment_Resource">
         delete  from department_resource where  department_id=#{department_id}
    </delete>
    <insert id="insertDepartment_Resource">
        INSERT INTO department_resource ( id, department_id, resource_id )
        VALUES
        <foreach item="map" index="index" collection="list"
                 separator=",">
            (#{map.id},#{map.department_id},#{map.resource_id})
        </foreach>
    </insert>
</mapper>